---
  import MenuIcon from '@mui/icons-material/Menu';
---

<header class="header">
  <nav class="nav">
    <div class="nav__container">
      <ul class="nav__ul">
        <li><a href="#servicios">Servicios</a></li>
        <li><a href="#contacto">Contacto</a></li>
        <li><a href="#nosotros">Nosotros</a></li>
        <li><a href="#footer">Ubicación</a></li>
      </ul>
    </div>
  </nav>
</header>

<style>
  .header{
    position: fixed;
    z-index: 10;
    animation: viewNav auto; 
    animation-timeline: scroll(nearest); 
    animation-range: 0vh 100dvh; 
    width: 100%;
    background-color: var(--second-color);
    border-bottom: 1px solid var(--acent);
    box-shadow: 0 0 24px #0002;
    container-name: header;
    container-type: inline-size;
  }
  
  .nav__ul{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: .8rem;
    margin-right: 1.5rem;
  }

  .nav__ul li{
    list-style: none;
    border-radius: 34px;
    padding: 24px;
  }

  .nav__ul li a{
    position: relative;
    text-decoration: none;
    font-size: 1.16rem;
    color: var(--second-color);
    display: flex;
    justify-content: center;
    align-content: center;
    animation: viewA auto; 
    animation-timeline: scroll(nearest); 
    animation-range: 0vh 100dvh; 
    width: 100%;
    color: var(--text-color);
  }

  .nav__ul li a::before{
    content: "";
    transform: translateY(14px);
    position: absolute;
    height: 2px;
    width: 45%;
    opacity: 0;
    margin: 0 auto;
    bottom: -6px;
    background-color: var(--acent);
    transition: opacity .3s, transform .3s;
  }
  
  .nav__ul li:hover > a::before {
    transform: translateY(0);
    opacity: 1;
  }

  
  @keyframes viewNav{
    from{
      background-color: transparent;
      border: none;
    }
    to{
      background-color: var(--second-color);
      border-bottom: 1px solid var(--acent);
    }
  }

  @keyframes viewA{
    from{
      color: var(--second-color);
    }

    to{
      color: var(--text-color);
    }
  }

  @container header (max-width: 600px){

    .nav__ul{
      justify-content: center;
      margin-right: 0;
    }

    .nav__ul li{
      padding: 24px 8px;
    }
  
    .nav__ul li a{
      font-size: .9rem;
    }
  }
</style>
